################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/StateManagementSample/bin/Debug/net6.0
/StateManagementSample/obj
